body {
  font-family: 'Just Another Hand', cursive;
  background-color: #242E6B;
  width: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

h1, h2 {
  font-weight: 400;
  font-size: 200px;
}

#title {
  color: #FC8C93;
  line-height: 50px;
}

#question {
  display: inline;
  color: #FFFFFF;
}

#my-canvas {
  vertical-align: top;
  display: inline;
  border: 5px solid #FFFFFF;
}

.container {
  text-align: center;
  margin: 50px auto;
  display: none;
}

.btn {
  margin: 10px;
	background-color:#FFFFFF;
	border-radius:20px;
  border-width: 0;
	cursor:pointer;
	color:#242E6B;
  line-height: 70px;
	font-family:'Just Another Hand', cursive;
	font-size:70px;
  letter-spacing: 3px;
	padding:13px 32px 0 32px;
  text-align: center;
  text-decoration:none;
  outline: none;
}

.btn:hover {
  background-color:#242E6B;
  color:#FFFFFF;
}

/* Loader styling */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
